body{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
    
}
.meet{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 3%;
}
.section {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
}
.lefthero{
    height: 100%;
}
#tablet-hero{
    display: none;
}
.middlesection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}
.middlesection h2{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 3rem;
    line-height: 1;
    color: #28283D;
}
.middlesection p{
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    
    color: grey;
}

.righthero{
}

.middlesection #btn{
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#btn1{
    background-color: #4D96A9;
    border: 1px solid rgba(77, 150, 168);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    color: white;
    font-weight: bold;

}
#btn2{
    white-space: nowrap;    
    background-color: #855FB1;
    border: 1px solid rgba(133, 95, 177);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: bold;
    border-radius: 2rem;
    color: white;
    

}
#btn3{
    background-color: #855FB1;
    border: 1px solid #855FB1;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    color: white;
    font-weight: bold;
    

}
#btncol{
    color: #D9B8FF;
}
#btncol1{
    color: #8FE3F9;
}
.button{
    cursor: pointer;
}
.button:hover {
    background-color: #000000;
  }
.button:active {
    background-color: #000000;
}
.addlinecircle{
    margin: 0;
}
.linecircle1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;
    margin-bottom: 4rem;
}
#linecircle1{
    position: absolute;
    top: -7rem;
}

.fourimages{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: row;
    margin: 7%;
    
}
#image{
    flex: 1;
    min-width: calc(20% - 1rem);
    width: 19rem;
    height: 15rem;
    border-radius: 0.6rem;

}
.fourimages img {
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
}
.writings{
    margin-top: 5%;
    margin-bottom: 15%;
    align-items: center; 
    justify-content: center;
    display: flex;
    flex-direction: column;

}
.writings h6{
    justify-content: center;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.3rem;
    font-size: 0.9rem;
    color: #4D96A9;
}
.writings h4{
    margin-top: 1rem;
    font-size: 2.5rem;
    line-height: 1;
    color: #28283D;
    width: 33%;
    align-items: center; 
    justify-content: center;
    display: flex;
    text-align: center;
}
.writings p{
    margin-top: 40px;
    font-size: 18px;
    color: grey;
    width: 38%;
    align-items: center; 
    justify-content: center;
    display: flex;
    text-align: center;
}

.footer {
    display: flex;
    width: 100%;
    height: 65vh;
    position: relative;
    align-items: center;
    justify-content: center;
    background-image:
    linear-gradient(to bottom, #4d96a9db, #4d96a9db),
    url("desktop/image-footer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120rem;
    color: white;
}
.footerinfo{
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 2rem;
}
#experience{
    font-size: 2.5rem;
    font-weight: 700;
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: center;

}
#stay{
    font-size: 1.1rem;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.lastbutton{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* at media for desktop active */
@media (max-width: 1024px){
    .section {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1rem;
        gap: 1rem;
    }


    
    
    .lefthero img{
        width: 17rem;
        height: 18rem;

    }
    .righthero img{
        width: 17rem;
        height: 18rem;
    }

    .middlesection {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        text-align: center;
    }
    .middlesection h2{
        font-size: 2rem;
        font-weight: 900;
    }
    .writings h4{
        font-size: 1.8rem;

    }
    .writings p{
        font-size: 1rem;
    }
    .fourimages .row{
        margin: 7%;
    }
    .footer{
        width: 100%;
        justify-content: center;
        items-align: center;

    }
    .footerinfo{
        width: 100%;
        margin: 6%;
    }
    .experience{
        width: 100%;
    }
}
/* Tablet Styles */
@media (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    
    .meet{
        margin-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 3%;
        
    }
  
    .section {
        grid-template-columns: 1fr;
        overflow-x: hidden;
    }
  

    .lefthero,
    .righthero {
      display: none;
    }
  
    #tablet-hero {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    #tablet-hero img{
        width: 100%;
        height: 100%;
    }
    
    .middlesection {
        gap: 0.5rem;
        padding: 2rem;
        width: 80%;
        padding: 6%;
        margin: 7%;
        text-align: center;
    }
  
    .middlesection h2 {
        font-size: 2.5rem;
        margin-bottom: 6%;
    }
  
    .middlesection p {
        width: 70%;
        font-size: 0.8rem;
    }
    .middlesection #btn{
        /* margin-top: 0%; */
    }
    .fourimages .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        align-items: center;
        padding: 0.8rem;
        gap: 0.95rem;
    }

    #image {
        flex: 1;
        min-width: calc(20% - 1rem);
        width: 100%;
        height: 8.5rem;
        margin-bottom: 2rem;
    }
    .writings{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.8rem;
    }
    .writings h6 {
        font-size: 0.8rem;
    }
  
    .writings h4 {
        font-size: 1.8rem;
        width: 60%;
        text-align: center;
    }
  
    .writings p {
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        width: 60%;
        text-align: center;
        margin: 4%;
    }
  
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 50px 0;
        background-size: cover;
    }
  
    .footerinfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 1.5rem;
        align-items: center;
    }
    #experience{
        width: 70%;
        font-size: 2rem;
        align-items: center;
        justify-content: center;
        text-align: center;

    }
    #stay{
        font-size: 0.7rem;
        width: 50%;
        align-items: center;
        text-align: center;
    }
    #btn3{
        font-size: 0.8rem;
        width: 100%;
        align-items: center;
        text-align: center;
    }
  }


/* mobile view */
@media screen and (max-width: 420px) {
    .middlesection p{
        width: 100%;
    }
    .middlesection #btn{
        width: 3.5rem;
    }
    #btn1{
        width: 8rem;
        font-size: 0.9rem;
    }
    #btn2{
        width: 6rem;
        font-size: 0.9rem;
    }
    .circle{
        
    }
    .fourimages .row{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }
    #image {
        flex: 1;
        min-width: calc(50% - 1rem);
        width: 100%;
        height: 8.5rem;
        margin-bottom: 2rem;
    }
    .writings{
        margin-top: 0%;
        margin-bottom: 45%;
    }
    .writings h6{
        gap: 0.1rem;
        font-size: 0.7rem;
        font-weight: 700;
    }
    .writings h4{
        font-size: 1.2rem;
    }
    .writings p{
        margin: 4%;
        font-size: 0.8rem;
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 50px 0;
        background-size: cover;
    }
    .footerinfo {
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }
    #experience{
        width: 80%;
        font-size: 1.5rem;
        align-items: center;
        text-align: center;

    }
    #stay{
        font-size: 0.7rem;
        width: 65%;
        align-items: center;
        text-align: center;
    }
    #btn3{
        font-size: 0.9rem;
        width: 12rem;
        align-items: center;
        text-align: center;
    }
}